*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: hsl(222, 26%, 31%) ;
}
header{
    display: flex;
    background-color: white;
}
header h1 {
    width: 20%;
    margin: 20px;
}
header p{
    border: 1px solid;
}
header .tema{
    display: flex;
    width: 80%;
    border: 1px solid;
}
header .btsTema{
    margin: auto;
    width: fit-content;
    height: fit-content;
    border: 1px solid;
    border-radius: 20px;
    background-color:hsl(224, 28%, 35%) ;
}
header .btsTema input{
    background-color: hsl(6, 70%, 34%) ;
    margin:1px;
    border: none;
}
header .btsTema input::before{
    background-color:hsl(6, 70%, 34%) ;
    margin:1px; ;
}
header .btsNuber{
    border: 1px solid;

}
main{
    height: 75vh;
    background-color: blue;
}